{% extends "base.html" %}
{% load  urlify %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2">
    {% if instance.image %}
    <img src='{{ instance.image.url }}' class="img-responsive" />
    {% endif %}
    {{ instance.content|truncatechars:15|urlify }}
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri}}">
    Facebook
    </a>

    <a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri}}">
    Twitter
    </a>

    <a href='https://plus.google.com/share?url={{ request.build_absolute_uri}}'>Google
    </a>

    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_url }}&title={{instance.title}}&summary={{share_string}}&source={{ request.build_absolute_uri}}">
    Linkedin
    </a>

    <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri}}&title={{ instance.title }}">Reddit</a>
    <h1>{{ instance.title }}<small>{{ instance.timestamp }}</small></h1>
    {{ instance.content | linebreaks}}<br />
</div>

{% endblock %}


  </body>
</html>
